<% provide(:title, "FAQ") %>
<div id="questions">
  <div data-question-id="9165"><div data-template-name="preview.html"><div>
  <h2>
    <a href="/questions/9165">How do I print?</a>
  </h2>

  <div data-template-name="question-metadata.html"><p class="small">
  <span class="badge badge-info">2349 views</span> &nbsp; | &nbsp;
  <span rel="tooltip" title="84 people found this useful">84</span>

    <a href="/questions/9165/like" class="vote-up"><i class="icon-thumbs-up"></i></a> &nbsp;

  Last updated on <strong>May 05, 2017</strong>
  &nbsp;&nbsp;

    <a href="/topics/3207" class="label">Computers and Printing</a></p>
  </div>

  <div class="container-fluid">
    <div class="span7">
     <div class="question-preview" style="overflow:hidden; height:85px;">
  PCOM uses PaperCut to manage printing.&nbsp; See the ITS <a href="https://support.pcom.edu/tickets/public.pl?Action=PublicFAQExplorer;CategoryID=16">FAQ</a> for more information.
</div>
<a class="question-popover pull-right" rel="popover" data-original-title="Answer" data-load="/questions/9165/answer" href="/questions/9165"><i class="icon-forward"></i></a>
      <a class="question-popover-mobile pull-right"  data-original-title="Answer" data-load="/questions/9165/answer" href="/questions/9165">
      <i class="icon-forward"></i></a>
    </div>
  </div>

  <hr/>
</div></div></div>
<div data-question-id="11256"><div data-template-name="preview.html"><div>
  <h2>
    <a href="/questions/11256">How do I find my Library ID number?</a>
  </h2>

  <div data-template-name="question-metadata.html"><p class="small">
  <span class="badge badge-info">1888 views</span> &nbsp; | &nbsp;
  <span rel="tooltip" title="2 people found this useful">2</span>

    <a href="/questions/11256/like" class="vote-up"><i class="icon-thumbs-up"></i></a> &nbsp;

  Last updated on <strong>Aug 21, 2017</strong>
  &nbsp;&nbsp;

</p></div>

  <div class="container-fluid">
    <div class="span7">
     <div class="question-preview" style="overflow:hidden; height:85px;">
  You can find your&nbsp;PCOM Library ID # on the back of your PCOM ID card.&nbsp; Your Library ID # consists of four zeroes + the final&nbsp;five digits on the back of your PCOM ID (see below).
<p><a href="https://library.pcom.edu/wp-content/uploads/2014/10/new-id-card.jpg"><img alt="new id card" class="aligncenter size-medium wp-image-1101" height="196" src="https://library.pcom.edu/wp-content/uploads/2014/10/new-id-card-300x196.jpg" width="300" /></a></p>

<p>For PCOM IDs issued prior to Summer 2014, your Library ID # consists of four zeroes + the <em>first</em> five digits on the back of your PCOM ID (see below).</p>

<p><a href="https://library.pcom.edu/wp-content/uploads/2014/01/library-id-number.jpg"><img alt="library-id-number" class="aligncenter size-medium wp-image-1000" height="198" src="https://library.pcom.edu/wp-content/uploads/2014/01/library-id-number-300x198.jpg" width="300" /></a></p>

</div>
<a class="question-popover pull-right" rel="popover" data-original-title="Answer" data-load="/questions/11256/answer" href="/questions/11256"><i class="icon-forward"></i></a>
      <a class="question-popover-mobile pull-right"  data-original-title="Answer" data-load="/questions/11256/answer" href="/questions/11256"><i class="icon-forward"></i></a>
    </div>
  </div>

  <hr/>
</div></div></div>
<div data-question-id="9126"><div data-template-name="preview.html"><div>
  <h2>
    <a href="/questions/9126">Can I access library resources from my home/rotation site?</a>
  </h2>

  <div data-template-name="question-metadata.html"><p class="small">
  <span class="badge badge-info">1634 views</span> &nbsp; | &nbsp;
  <span rel="tooltip" title="81 people found this useful">81</span>

    <a href="/questions/9126/like" class="vote-up"><i class="icon-thumbs-up"></i></a> &nbsp;

  Last updated on <strong>Jan 25, 2015</strong>
  &nbsp;&nbsp;

    <a href="/topics/3205" class="label">Access</a>

</p></div>

  <div class="container-fluid">
    <div class="span7">
     <div class="question-preview" style="overflow:hidden; height:85px;">
  <p>All PCOM faculty, staff and students have both on-campus and remote access to the e-resources in the Digital Library. Users must login using the PCOM Network ID and password.</p>

<p>By accessing e-resources, users agree to the conditions of the <a href="http://library.pcom.edu/access/#user-agreement">PCOM Library User Agreement</a>.</p>

<p>A few resources require personal accounts. See <a href="http://library.pcom.edu/accounts/">My Accounts</a> for information on My Library Account, RefWorks, MedU, etc.</p>

<p><strong>Access Problems</strong><br />
Users who experience difficulties with expired or forgotten passwords should contact the MIS Department at <a href="mailto:HelpDesk@pcom.edu">HelpDesk@pcom.edu</a>.</p>

<p>Users who experience difficulties finding and using e-resources should contact the library directly. Library contact information can be found <a href="http://library.pcom.edu/contact/">here</a>.</p>

<p><strong>Volunteer Faculty</strong> may request access to the Digital Library when they submit a signed <a href="http://library.pcom.edu/access/#volunteer-agreement">Volunteer Faculty Library User Agreement.</a></p>

</div>
<a class="question-popover pull-right" rel="popover" data-original-title="Answer" data-load="/questions/9126/answer" href="/questions/9126"><i class="icon-forward"></i></a>
      <a class="question-popover-mobile pull-right"  data-original-title="Answer" data-load="/questions/9126/answer" href="/questions/9126"><i class="icon-forward"></i></a>
    </div>
  </div>

  <hr/>
</div></div></div>
<div data-question-id="9123"><div data-template-name="preview.html"><div>
  <h2>
    <a href="/questions/9123">How can I contact someone in the Library?</a>
  </h2>

  <div data-template-name="question-metadata.html"><p class="small">
  <span class="badge badge-info">1487 views</span> &nbsp; | &nbsp;
  <span rel="tooltip" title="77 people found this useful">77</span>

    <a href="/questions/9123/like" class="vote-up"><i class="icon-thumbs-up"></i></a> &nbsp;

  Last updated on <strong>Dec 12, 2017</strong>
  &nbsp;&nbsp;

    <a href="/topics/3204" class="label">Hours and Contact</a>

</p></div>

  <div class="container-fluid">
    <div class="span7">
     <div class="question-preview" style="overflow:hidden; height:85px;">
  <div class="row" id="contact-us-page">
<div class="col-sm-6">
<div class="contact-us-images"><img alt="" src="https://library.pcom.edu/wp-content/uploads/2013/03/inperson.png" /><strong>In-Person</strong><br />
Visit the circulation desk at either of our <a href="http://library.pcom.edu/hours/">campus locations</a>.</div>

<div class="contact-us-images"><img alt="" src="https://library.pcom.edu/wp-content/uploads/2013/03/phone2.png" /><strong>Phone</strong><br />
Philadelphia Circulation Desk: <b>215-871-6470</b><br />
Georgia Circulation Desk: <b>678-225-7543</b><br />
Text Message: <a href="sms:+12159873999">215-987-3999</a><br />
See the <a href="http://library.pcom.edu/staff/">Staff Directory</a> for individual numbers.<br />
See the <a href="http://library.pcom.edu/liaisons/">Library Liaisons</a> page to find the librarians assigned to your program.</div>
</div>

<a class="question-popover pull-right" rel="popover" data-original-title="Answer" data-load="/questions/9123/answer" href="/questions/9123"><i class="icon-forward"></i></a>
      <a class="question-popover-mobile pull-right"  data-original-title="Answer" data-load="/questions/9123/answer" href="/questions/9123"><i class="icon-forward"></i></a>
    </div>
  </div>

  <hr/>
</div></div></div>
<div data-question-id="9124"><div data-template-name="preview.html"><div>
  <h2>
    <a href="/questions/9124">Who has access to the library?</a>
  </h2>

  <div data-template-name="question-metadata.html"><p class="small">
  <span class="badge badge-info">1442 views</span> &nbsp; | &nbsp;
  <span rel="tooltip" title="91 people found this useful">91</span>

    <a href="/questions/9124/like" class="vote-up"><i class="icon-thumbs-up"></i></a> &nbsp;

  Last updated on <strong>Jan 25, 2015</strong>
  &nbsp;&nbsp;

    <a href="/topics/3205" class="label">Access</a>

</p></div>

  <div class="container-fluid">
    <div class="span7">
     <div class="question-preview" style="overflow:hidden; height:85px;">
  <p>Library study space is reserved for the exclusive use of <strong>PCOM students, faculty, staff and alumni</strong>. Please be prepared to show your PCOM ID to a Library staff member upon request.</p>

<p>Non-PCOM researchers who have legitimate need to access print and special collections should contact Library Administration (<a href="mailto:library@pcom.edu">library@pcom.edu</a>) to request access prior to visiting the campus.</p>

<p><strong>Guests</strong><br />
Guests of PCOM students, faculty, and staff must be accompanied by a host with valid PCOM ID. All guests must register at the Security Desk. The PCOM host must remain with guests at all times and is responsible for guests&rsquo; behavior. Guest access is for touring the Library, not for use of study space or computers.</p>

<p><strong>Security</strong><br />
Library Staff reserve the right to check purses, backpacks, schoolbags, etc. when the security alarm sounds. Videos and books from other libraries or stores sometimes are not desensitized and may trigger the alarm.</p>

</div>
<a class="question-popover pull-right" rel="popover" data-original-title="Answer" data-load="/questions/9124/answer" href="/questions/9124"><i class="icon-forward"></i></a>
      <a class="question-popover-mobile pull-right"  data-original-title="Answer" data-load="/questions/9124/answer" href="/questions/9124"><i class="icon-forward"></i></a>
    </div>
  </div>

  <hr/>
</div></div></div>
<div data-question-id="9127"><div data-template-name="preview.html"><div>
  <h2>
    <a href="/questions/9127">I am a PCOM alum. What can the library do for me?</a>
  </h2>

  <div data-template-name="question-metadata.html"><p class="small">
  <span class="badge badge-info">1283 views</span> &nbsp; | &nbsp;
  <span rel="tooltip" title="71 people found this useful">71</span>

    <a href="/questions/9127/like" class="vote-up"><i class="icon-thumbs-up"></i></a> &nbsp;

  Last updated on <strong>Jan 31, 2015</strong>
  &nbsp;&nbsp;

    <a href="/topics/3205" class="label">Access</a>

</p></div>

  <div class="container-fluid">
    <div class="span7">
     <div class="question-preview" style="overflow:hidden; height:85px;">
  Please see our <a href="http://libguides.pcom.edu/alumni_portal">Alumni Portal</a> for more information: <a href="http://libguides.pcom.edu/alumni_portal">http://libguides.pcom.edu/alumni_portal</a>
</div>
<a class="question-popover pull-right" rel="popover" data-original-title="Answer" data-load="/questions/9127/answer" href="/questions/9127"><i class="icon-forward"></i></a>
      <a class="question-popover-mobile pull-right"  data-original-title="Answer" data-load="/questions/9127/answer" href="/questions/9127"><i class="icon-forward"></i></a>
    </div>
  </div>

  <hr/>
</div></div></div>
<div data-question-id="9146"><div data-template-name="preview.html"><div>
  <h2>
    <a href="/questions/9146">What mobile apps/websites do I have access to?</a>
  </h2>

  <div data-template-name="question-metadata.html"><p class="small">
  <span class="badge badge-info">1268 views</span> &nbsp; | &nbsp;
  <span rel="tooltip" title="84 people found this useful">84</span>

    <a href="/questions/9146/like" class="vote-up"><i class="icon-thumbs-up"></i></a> &nbsp;

  Last updated on <strong>May 05, 2017</strong>
  &nbsp;&nbsp;

    <a href="/topics/3209" class="label">Digital Library and Mobile Resources</a>

</p></div>

  <div class="container-fluid">
    <div class="span7">
     <div class="question-preview" style="overflow:hidden; height:85px;">
  See out our <a href="http://libguides.pcom.edu/MobileApps">mobile apps library guide</a> for more information.
</div>
<a class="question-popover pull-right" rel="popover" data-original-title="Answer" data-load="/questions/9146/answer" href="/questions/9146"><i class="icon-forward"></i></a>
      <a class="question-popover-mobile pull-right"  data-original-title="Answer" data-load="/questions/9146/answer" href="/questions/9146"><i class="icon-forward"></i></a>
    </div>
  </div>

  <hr/>
</div></div></div>
<div data-question-id="9137"><div data-template-name="preview.html"><div>
  <h2>
    <a href="/questions/9137">How do I check my print balance?</a>
  </h2>

  <div data-template-name="question-metadata.html"><p class="small">
  <span class="badge badge-info">1216 views</span> &nbsp; | &nbsp;
  <span rel="tooltip" title="86 people found this useful">86</span>

    <a href="/questions/9137/like" class="vote-up"><i class="icon-thumbs-up"></i></a> &nbsp;

  Last updated on <strong>Jan 31, 2015</strong>
  &nbsp;&nbsp;

    <a href="/topics/3207" class="label">Computers and Printing</a>

</p></div>

  <div class="container-fluid">
    <div class="span7">
     <div class="question-preview" style="overflow:hidden; height:85px;">
  <p>You can check your print balance using the <a href="https://papercut.pcom.edu/user">Paper Cut Web Portal</a>.&nbsp; Detailed instructions for checking and adding to your balance are available <a href="https://nucleus.pcom.edu/cps/pcom_content/MIS/wireless/Papercut_Web_Adding_Print_Credit.pdf">here.</a></p>

<p>You can also add print credit (buy additional pages), check your print history and see what jobs are waiting to print using the <a href="https://papercut.pcom.edu/user">Paper Cut Web Portal</a>.</p>

</div>
<a class="question-popover pull-right" rel="popover" data-original-title="Answer" data-load="/questions/9137/answer" href="/questions/9137"><i class="icon-forward"></i></a>
      <a class="question-popover-mobile pull-right"  data-original-title="Answer" data-load="/questions/9137/answer" href="/questions/9137"><i class="icon-forward"></i></a>
    </div>
  </div>
