<%= form_for(:session, url: login_path) do |f| %>
<div class="card-header"> Login</div>
<div class="card-body">
  <form id="c_form-h" class="">
    <div class="form-group row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class='fa fa-user'></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="form-group row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class='fa fa-lock'></i>
          </span>
        </div>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class='form-group d-block'>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<% end %>
