<div class="footer-basic">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <footer>
      <div class="col-lg-4 social social-container">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
      </div>
      <ul
        class="list-inline">
        <li class="list-inline-item">
        <a href="http://localhost:3000/">Homepage</a></li>
        <li class="list-inline-item"><a href="about">About</a></li>
        <li class="list-inline-item"><a href="help">Help</a></li>
        <li class="list-inline-item"><a href="faq">FAQ</a></li>
      </ul>
      <p class="copyright text-center">Library management © 2019</p>
    </footer>
  </head>
</div>

