<body>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid"> <a class="navbar-brand text-primary" href="#">
      <i class="fa d-inline fa-lg fa-stop-circle"></i>
      <b> LIBRARY MANAGEMENT</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="http://localhost:3000/">Homepage</a></li>
          <li class="nav-item"> <a class="nav-link" href="about">About</a> </li>
          <li class="nav-item"> <a class="nav-link" href="help">Help</a> </li>
          <li class="nav-item"> <a class="nav-link" href="faq">FAQ</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <form class="form-inline border-right justin-content-end" style="">
            <div class="input-group">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search">
              <div class="input-group-append"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
